 <h1>タスク 一覧</h1>
  <div>
    <a href='/tasks/new'> タスクの追加</a>
  </div>
  <table class='table table-striped table-hover table-bordered'>
    <thead>
    <tr>
      <th>ID</th>
      <th>タスク名</th>
      <th>内容</th>
      <th>状態</th>
      <th>作成日時</th>
      <th colspan='2'>変更</th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
     <tr>
       <td><%= task.id %></td>
       <td><%= task.name %></td>
       <td><%= task.content %></td>
       <td><%= task.status_name %></td>
       <td><%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
       <td>
         <a href=<%= "/tasks/#{task.id}/edit" %>>変更</a>
       </td>
       <td>
         <form action=<%= "/tasks/#{task.id}" %> class='form-inline' method='post'>
           <input name='_method' type='hidden' value='delete'>
           <input class='btn btn-danger' onclick='return confirm("Delete Task?")' type='submit' value='削除'>
         </form>
       </td>
     </tr>
    <% end %>
    </tbody>
  </table>
